# List Tuple Dictionary

### List

In [ ]:
- list is nothing but collection of different types of data like array in c language
- list  is represented by [] braces
- List is a mutable data type

In [1]:
l=[]
type(l),l

(list, [])

In [3]:
l=[1,2,3,3,4,"Hello",6.660,True,[1,2,3]]
l

[1, 2, 3, 3, 4, 'Hello', 6.66, True, [1, 2, 3]]

### Indexing in list

In [4]:
l

[1, 2, 3, 3, 4, 'Hello', 6.66, True, [1, 2, 3]]

In [5]:
l[0]

1

In [6]:
l[-1]

[1, 2, 3]

In [7]:
l[-2]

True

In [8]:
l[4]

4

In [9]:
l[-1][1]

2

### Slicing in list

In [10]:
l

[1, 2, 3, 3, 4, 'Hello', 6.66, True, [1, 2, 3]]

In [12]:
l[2:8]

[3, 3, 4, 'Hello', 6.66, True]

In [13]:
l[-2:]

[True, [1, 2, 3]]

In [14]:
l[-5:]

[4, 'Hello', 6.66, True, [1, 2, 3]]

In [15]:
l[::-1]

[[1, 2, 3], True, 6.66, 'Hello', 4, 3, 3, 2, 1]

In [16]:
l[-1][::-1]

[3, 2, 1]

In [17]:
l[::2]

[1, 3, 4, 6.66, [1, 2, 3]]

In [18]:
l[::3]

[1, 3, 6.66]

In [19]:
l[::4]

[1, 4, [1, 2, 3]]

In [20]:
l[1]="Hi"
l

[1, 'Hi', 3, 3, 4, 'Hello', 6.66, True, [1, 2, 3]]

In [21]:
del l[2]   # deleting elements in the list 
l

[1, 'Hi', 3, 4, 'Hello', 6.66, True, [1, 2, 3]]

In [22]:
l[5]=60
l

[1, 'Hi', 3, 4, 'Hello', 60, True, [1, 2, 3]]

In [23]:
len(l)

8

In [27]:
marks=[2,9,4,8,12]
min(marks)

2

In [26]:
max(marks)

12

In [28]:
sum(marks)

35

In [31]:
sorted(marks)

[2, 4, 8, 9, 12]

In [32]:
sorted(marks,reverse=True)

[12, 9, 8, 4, 2]

In [36]:
sum(marks)//len(marks)

7

In [70]:
marks=marks+[11,19]

[10,
 10,
 2,
 9,
 4,
 8,
 12,
 11,
 19,
 20,
 30,
 40,
 30,
 40,
 30,
 40,
 30,
 40,
 30,
 30,
 40,
 30,
 20,
 11,
 19]

In [41]:
marks

[2, 9, 4, 8, 12, 11, 19]

In [42]:
sum(marks)//len(marks)

9

In [44]:
marks*2

[2, 9, 4, 8, 12, 11, 19, 2, 9, 4, 8, 12, 11, 19]

### List methods

In [46]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [72]:
marks.append(50)
marks

[10,
 10,
 2,
 9,
 4,
 8,
 12,
 11,
 19,
 20,
 30,
 40,
 30,
 40,
 30,
 40,
 30,
 40,
 30,
 30,
 40,
 30,
 20,
 50,
 50]

In [74]:
marks.extend([60,70])
marks

[10,
 10,
 2,
 9,
 4,
 8,
 12,
 11,
 19,
 20,
 30,
 40,
 30,
 40,
 30,
 40,
 30,
 40,
 30,
 30,
 40,
 30,
 20,
 50,
 50,
 60,
 70,
 60,
 70]

In [75]:
marks.pop()

70

In [76]:
marks.pop(23)

50

In [78]:
marks.insert(0,100)
marks

[100,
 100,
 10,
 10,
 2,
 9,
 4,
 8,
 12,
 11,
 19,
 20,
 30,
 40,
 30,
 40,
 30,
 40,
 30,
 40,
 30,
 30,
 40,
 30,
 20,
 50,
 60,
 70,
 60]

In [79]:
marks.reverse()
marks

[60,
 70,
 60,
 50,
 20,
 30,
 40,
 30,
 30,
 40,
 30,
 40,
 30,
 40,
 30,
 40,
 30,
 20,
 19,
 11,
 12,
 8,
 4,
 9,
 2,
 10,
 10,
 100,
 100]

In [81]:
marks.sort()
marks

[2,
 4,
 8,
 9,
 10,
 10,
 11,
 12,
 19,
 20,
 20,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 40,
 40,
 40,
 40,
 40,
 50,
 60,
 60,
 70,
 100,
 100]

In [82]:
marks.count(30)

7

In [83]:
marks.count(-1)

0

In [85]:
marks2=marks.copy()
marks2,marks

([2,
  4,
  8,
  9,
  10,
  10,
  11,
  12,
  19,
  20,
  20,
  30,
  30,
  30,
  30,
  30,
  30,
  30,
  40,
  40,
  40,
  40,
  40,
  50,
  60,
  60,
  70,
  100,
  100],
 [2,
  4,
  8,
  9,
  10,
  10,
  11,
  12,
  19,
  20,
  20,
  30,
  30,
  30,
  30,
  30,
  30,
  30,
  40,
  40,
  40,
  40,
  40,
  50,
  60,
  60,
  70,
  100,
  100])

In [86]:
marks2.clear()
marks2,marks

([],
 [2,
  4,
  8,
  9,
  10,
  10,
  11,
  12,
  19,
  20,
  20,
  30,
  30,
  30,
  30,
  30,
  30,
  30,
  40,
  40,
  40,
  40,
  40,
  50,
  60,
  60,
  70,
  100,
  100])

In [88]:
for item in marks:
    print(marks)

[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]
[2, 4, 8, 9, 10, 10, 11, 12, 19, 20, 20, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 50, 60, 60, 70, 100, 100]

In [89]:
for item in marks:
    print(item)

2
4
8
9
10
10
11
12
19
20
20
30
30
30
30
30
30
30
40
40
40
40
40
50
60
60
70
100
100

In [95]:
index=0
while index<len(marks):
    print(marks[index])
    index +=1

2
4
8
9
10
10
11
12
19
20
20
30
30
30
30
30
30
30
40
40
40
40
40
50
60
60
70
100
100

In [101]:
len(marks)

29

In [207]:
s=0
index=0
while index<len(marks):
    
    sum+=marks[index]
    index +=1
    
print(s)

0

In [208]:
#task1:print the names that end with 'u' in the given list of names['mahesh','balu','raghu','ram']
names="mahesh balu raghu ram"
index=0
u=names.split()
for index in u:
    if (index[-1]=='u'):
        print(index)

balu
raghu

In [209]:
#task2: print the name which has the highest length in the list
names="mahesh balu raghu ram"
s=names.split(' ')
m=0
for i in s:
    l=len(i)
    if(l>m):
        m=l
for j in s:
    if(len(j)==m):
        print(j)

mahesh

In [210]:
# Task 3: Names ending with vowels
names="mahesh balu raghu ram"
m=names.split()
for i in m:
    if(i[-1]=='a' or i[-1]=='e' or i[-1]=='i' or i[-1]=='o' or i[-1]=='u'):
        print(i)

balu
raghu

In [242]:
#Task4: Palindrome
x = input("Enter a string:")
w = "" 
for i in x: 
    w = i + w 
    if (x==w): 
        print("YES")

Enter a string:madam
YES

In [212]:
#Task 5 :Toggle string
string = input("Please Enter String : ")
string1 = ''
for i in range(len(string)):
    if(string[i] >= 'a' and string[i] <= 'z'): 
        string1 = string1 + chr((ord(string[i]) - 32)) 
    elif(string[i] >= 'A' and string[i] <= 'Z'):
        string1 = string1 + chr((ord(string[i]) + 32))
    else:
        string1 = string1 + string[i]
print("\nOriginal String=  ", string)
print(" String After Toggling =  ", string1)

Please Enter String :

Original String=
 String After Toggling =

# Tuples

In [213]:
- tuple is a immutable data types in python
- it is same as list but it cant be changed if once created 
- it is also represented by () symbol

SyntaxError: invalid syntax (<ipython-input-213-46c7bcd54c7e>, line 1)

In [214]:
t=(21,252,56)
t

(21, 252, 56)

In [215]:
t,type(t)

((21, 252, 56), tuple)

## indexing in tuple

In [216]:
t[0]

21

In [217]:
t[-1]

56

## slicing in tuple

In [218]:
t[:2]

(21, 252)

In [219]:
t[-1]

56

In [220]:
del t[0]   # we cant delete any element in the tuple

TypeError: 'tuple' object doesn't support item deletion

In [221]:
t[0]=10     # we cant modify tuples

TypeError: 'tuple' object does not support item assignment

In [222]:
len(t)

3

In [223]:
min(t)

21

In [224]:
max(t)

252

## Tuple Methods

In [225]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [226]:
t.index(21)

0

In [227]:
a=1,2,3
a,type(a)

((1, 2, 3), tuple)

In [228]:
t.count(252)

1

In [229]:
x,y,z=t

In [230]:
print(x,y,z)

21 252 56

In [231]:
for item in t:
    print(item)

21
252
56

In [232]:
for item in t[::-1]:
    print(item)

56
252
21

In [233]:
#Task6: Given 2 strings of same length find whether they are identical
string1 = input("Enter the first string: ") 
print(string1, end = "\n") 
string2 = input("Enter the second string: ") 
print(string2, end ="\n")     
if (string1 == string2) :  
        print("Yes") 
else :  
        print("No")

Enter the first string:

Enter the second string:

Yes

# Set

In [ ]:
- set removes duplication
- set is mutable

In [235]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [236]:
s={1,2,3,1,3,4,5,46}
s

{1, 2, 3, 4, 5, 46}

In [237]:
len(s)

6

In [238]:
min(s)

1

In [239]:
max(s)

46

In [241]:
sum(s)

TypeError: 'set' object is not callable

In [186]:
s.add(10)

In [187]:
s

{1, 2, 3, 4, 5, 10, 46}

In [188]:
s.pop()

1

In [189]:
s.remove(10)

In [190]:
s

{2, 3, 4, 5, 46}

In [196]:
a={1,2}
b={3,4}
a.union(b)

{1, 2, 3, 4}

In [197]:
a.intersection(b)

set()

In [198]:
b.difference(a)

{3, 4}

In [199]:
b.difference(a)

{3, 4}

In [200]:
a,b
a={1,2,3,4}
b={3,4,5,6}

In [201]:
a.difference_update(b)
a,b

({1, 2}, {3, 4, 5, 6})

In [203]:
c={1}
c

{1}

In [204]:
c.issubset(a),a,c

(True, {1, 2}, {1})

In [205]:
a.isdisjoint(c)

False

In [206]:
a.issuperset(c)

True