# List Comprehension

In [1]:
def cube(n):
    return n ** 3
l1=[1,2,3,4,5,6]
[cube(i) for i in l1]

[1, 8, 27, 64, 125, 216]

In [60]:
sum([i in range[1,11] for i%2==0])

SyntaxError: invalid syntax (<ipython-input-60-88ce07fab47a>, line 1)

In [5]:
s='This is my country'
[w for w in s.split() if len(w)==2]

['is', 'my']

In [11]:
s='This is my country'        ## 2 letter word in Uppercase format combined
''.join([w.upper() for w in s.split() if len(w)==2])

'ISMY'

In [14]:
numbers=[1,2,3,4,5,6]
squares={}
for i in numbers:
    squares[i]=i*i
    print(squares)

{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [15]:
numbers=[1,2,3,4,5,6]
squares={}
for i in numbers:
    squares[i]=i*i
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [16]:
{ i :i*i for i in numbers}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [23]:
s='apple ball cat dog elephant frog'
{c[0]:c for c in s.split() }

{'a': 'apple',
 'b': 'ball',
 'c': 'cat',
 'd': 'dog',
 'e': 'elephant',
 'f': 'frog'}

In [52]:
s='apple ball cat dog elephant frog'
d={c[0].upper():c.capitalize() for c in s.split() }
d

{'A': 'Apple',
 'B': 'Ball',
 'C': 'Cat',
 'D': 'Dog',
 'E': 'Elephant',
 'F': 'Frog'}

In [31]:
s='apple ball cat dog'
s.capitalize()
s.title()

'Apple Ball Cat Dog'

In [32]:
s='apple ball cat dog'
s.capitalize()

'Apple ball cat dog'

In [54]:
#s='apple ball cat dog elephant frog'
result_d={s:e  for s,e  in list(d.items())[::2]}
result_d

{'A': 'Apple', 'C': 'Cat', 'E': 'Elephant'}

In [55]:
list(d.items())[::2]

[('A', 'Apple'), ('C', 'Cat'), ('E', 'Elephant')]

In [56]:
d.items()

dict_items([('A', 'Apple'), ('B', 'Ball'), ('C', 'Cat'), ('D', 'Dog'), ('E', 'Elephant'), ('F', 'Frog')])

In [57]:
numbers=[1,2,3,4,5,6]
t=('one','two','three','four','five')
{s:e for s,e in zip(numbers,t)}

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [64]:
contacts_text="""nineesha 7995331054
mom 8978695475
dad 9502594603"""
contacts_dict={}
for line in contacts_text.split('\n'):
    contacts_name,number=line.split()
    contacts_dict[contacts_name]=number
contacts_dict

{'nineesha': '7995331054', 'mom': '8978695475', 'dad': '9502594603'}

In [77]:
words=[]
for lines in contacts_text.split("\n"):
        for line in lines.split():
            words.append(line)
words
{n:c for n,c in zip(words[::2],words[1::2])}

{'nineesha': '7995331054', 'mom': '8978695475', 'dad': '9502594603'}

In [78]:
{n:c for n,c in zip(words[::2],words[1::2])}

{'nineesha': '7995331054', 'mom': '8978695475', 'dad': '9502594603'}

In [79]:
list1 = [1,2,3,4]
result = []
for number in list1:
    result.append(number)
print(result)

[1, 2, 3, 4]

In [80]:
result = [n for n in range(6,11)]
print(result)

[6, 7, 8, 9, 10]

In [81]:
s = "Apssdc"
[char for char in s]

['A', 'p', 's', 's', 'd', 'c']

In [82]:
# to print only even numbers with in range
[i for i in range(1,11) if i%2==0]

[2, 4, 6, 8, 10]

In [83]:
paragraph = ["There was a fox.", "it was seen near that farm sometime back"]
list1 = []
for sentence in paragraph:
    for word in sentence.split():
        list1.append(word)
print(list1)

['There', 'was', 'a', 'fox.', 'it', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [84]:
paragraph = ["there was a fox", "it was seen near that farm sometime back"]
list1 = [word for sentence in paragraph for word in sentence.split()]
print(list1)

['there', 'was', 'a', 'fox', 'it', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [85]:
# print the first 1000 values sum
sum([i for i in range(1,1001)])

500500

In [86]:
# print the names which length highertha 5
names=['harish','akash','mahesh','krishna']
[ name for name in names if len(name)>5]

['harish', 'mahesh', 'krishna']

In [87]:
# print the names which length has not 6
names=['harish','akash','mahesh','krishna']
[ name for name in names if len(name)!=6]

['akash', 'krishna']

In [88]:
# print the names which endswith with m
names=['harish','akash','mahesh','krishna']
[ name for name in names if name.endswith('h')]

['harish', 'akash', 'mahesh']

# Tuple Comprehension

In [1]:
tuple(i for i in range(5))  ## tuple comprehension

(0, 1, 2, 3, 4)

In [2]:
sum(tuple(i for i in range(5)))

10

In [3]:
tuple(i for i in range(5)[::2])

(0, 2, 4)